.profile-img {
	text-align: center;
}
.profile-img img {
	width: 55%;
	height: 100%;
}

.profile-head h5 {
	color: #333;
}
.profile-head h6 {
	color: #0062cc;
}
.profile-rating {
	font-size: 12px;
	color: #818182;
	margin-top: 5%;
}
.profile-rating span {
	color: #495057;
	font-size: 15px;
	font-weight: 600;
}

.profile-tab.active {
	background: lightblue;
}
.card-header {
	background: #fff;
}
.card-body {
	background: #fff;
}
.card-footer {
	background: #fff;
}
.card {
	background: #fff;
}
