doctype
html( lang="es")
    head
        title APP de ejemplo
        meta( charset='utf-8')
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='decripcion', content='Baking Bootstrap Snippets with Jade' )
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css",rel="stylesheet") 
    
    body(style="padding-bottom:10rem;")
        .container
            block content
        script( src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )
        script( src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
        script( src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js")
        script( src="static/js/app.js")